
      Help for the Post entity
      
      <table id="Postdatatable" class="table table-striped">
        <thead>
          
          <tr>
              <th>
                PostName
              </th>
              <th>
                String
              </th>
          </tr>
          
          <tr>
              <th>
                IncidentID
              </th>
              <th>
                Incident
              </th>
          </tr>
          
          <tr>
              <th>
                FromUser
              </th>
              <th>
                User
              </th>
          </tr>
          
          <tr>
              <th>
                ToUser
              </th>
              <th>
                User
              </th>
          </tr>
          
          <tr>
              <th>
                PostedDate
              </th>
              <th>
                Date
              </th>
          </tr>
          
          <tr>
              <th>
                Desctiption
              </th>
              <th>
                Text
              </th>
          </tr>
          
        </thead>
      </table>
    