
      Help for the Attachment entity
      
      <table id="Attachmentdatatable" class="table table-striped">
        <thead>
          
          <tr>
              <th>
                AttachmentName
              </th>
              <th>
                String
              </th>
          </tr>
          
          <tr>
              <th>
                Incident
              </th>
              <th>
                Incident
              </th>
          </tr>
          
          <tr>
              <th>
                Creator
              </th>
              <th>
                User
              </th>
          </tr>
          
          <tr>
              <th>
                Content
              </th>
              <th>
                Text
              </th>
          </tr>
          
          <tr>
              <th>
                MimeType
              </th>
              <th>
                String
              </th>
          </tr>
          
        </thead>
      </table>
    