.red {color: #FF6666;}

.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #428bca;
}
.table > tbody > tr > td
{
	cursor:pointer;
}
.pagination {
display: inline-block;
padding-left: 0;
margin: 1px 0;
border-radius: 4px;
}
ul>li>a.selected
{
	background-color:#C2D4E4;
}
.modal-dialog  {width:80%;}