
      Help for the Priority entity
      
      <table id="Prioritydatatable" class="table table-striped">
        <thead>
          
          <tr>
              <th>
                PriorityName
              </th>
              <th>
                String
              </th>
          </tr>
          
          <tr>
              <th>
                CSSClass
              </th>
              <th>
                String
              </th>
          </tr>
          
          <tr>
              <th>
                SortOrder
              </th>
              <th>
                Integer
              </th>
          </tr>
          
        </thead>
      </table>
    