
      Help for the Status entity
      
      <table id="Statusdatatable" class="table table-striped">
        <thead>
          
          <tr>
              <th>
                StatusName
              </th>
              <th>
                String
              </th>
          </tr>
          
          <tr>
              <th>
                SortOrder
              </th>
              <th>
                Integer
              </th>
          </tr>
          
          <tr>
              <th>
                CSSClass
              </th>
              <th>
                String
              </th>
          </tr>
          
          <tr>
              <th>
                isDefault
              </th>
              <th>
                Boolean
              </th>
          </tr>
          
        </thead>
      </table>
    