
      Help for the Incident entity
      
      <table id="Incidentdatatable" class="table table-striped">
        <thead>
          
          <tr>
              <th>
                IncidentName
              </th>
              <th>
                String
              </th>
          </tr>
          
          <tr>
              <th>
                ProjectID
              </th>
              <th>
                Project
              </th>
          </tr>
          
          <tr>
              <th>
                StatusID
              </th>
              <th>
                Status
              </th>
          </tr>
          
          <tr>
              <th>
                PriorityID
              </th>
              <th>
                Priority
              </th>
          </tr>
          
          <tr>
              <th>
                CategoryID
              </th>
              <th>
                Category
              </th>
          </tr>
          
          <tr>
              <th>
                Description
              </th>
              <th>
                Text
              </th>
          </tr>
          
          <tr>
              <th>
                ReportedDate
              </th>
              <th>
                Date
              </th>
          </tr>
          
          <tr>
              <th>
                UpdatedDate
              </th>
              <th>
                Date
              </th>
          </tr>
          
          <tr>
              <th>
                UserID
              </th>
              <th>
                User
              </th>
          </tr>
          
        </thead>
      </table>
    