
{{#data}}<div id='IncidentDeleteContainer' >
      <p class='bg-danger'> Are you sure you want to delete this Incident? </p>
      <form id="DeleteIncident" method="post" role="form">
      <div class="form-group">
      <label for='Incidentid'>id</label>
      {{id}}<input id='Incidentid' name='Incidentid' type='hidden' value='{{id}}' />
      </div>


      
        <div class="form-group">
        <label for="IncidentName">IncidentName</label>
        <p id='IncidentName' class='form-control-static'> {{IncidentName}}<p>
        </div>
      
        <div class="form-group">
        <label for="ProjectID">ProjectID</label>
        <p id='ProjectID' class='form-control-static'> {{ProjectID}}<p>
        </div>
      
        <div class="form-group">
        <label for="StatusID">StatusID</label>
        <p id='StatusID' class='form-control-static'> {{StatusID}}<p>
        </div>
      
        <div class="form-group">
        <label for="PriorityID">PriorityID</label>
        <p id='PriorityID' class='form-control-static'> {{PriorityID}}<p>
        </div>
      
        <div class="form-group">
        <label for="CategoryID">CategoryID</label>
        <p id='CategoryID' class='form-control-static'> {{CategoryID}}<p>
        </div>
      
        <div class="form-group">
        <label for="Description">Description</label>
        <p id='Description' class='form-control-static'> {{Description}}<p>
        </div>
      
        <div class="form-group">
        <label for="ReportedDate">ReportedDate</label>
        <p id='ReportedDate' class='form-control-static'> {{ReportedDate}}<p>
        </div>
      
        <div class="form-group">
        <label for="UpdatedDate">UpdatedDate</label>
        <p id='UpdatedDate' class='form-control-static'> {{UpdatedDate}}<p>
        </div>
      
        <div class="form-group">
        <label for="UserID">UserID</label>
        <p id='UserID' class='form-control-static'> {{UserID}}<p>
        </div>
      
        <button type="submit" class="btn btn-danger">Submit</button>
      </form>

      <script type="text/javascript">
      $(document).ready();
      
  IncidentDeleteModule = (function() {
		// private 
      var SubmittingIncidentDeleteForm = function() {
	        var args = {id: $('#IncidentDeleteContainer #Incidentid').val()};
	        //make an AJAX call
          //controllers['Incident']['DeletePost'](null, args);
          IncidentController.DeletePost(args);
	    }

		//public
		return {
			bindEvents : function() {
          $('#DeleteIncident').submit(function( event ) {
            //alert( "Handler for .submit() called." );
            SubmittingIncidentDeleteForm();
            event.preventDefault();
            });
      }
		}//end public members
	})();  //end IncidentDeleteModule


	$(document).ready(function() {
		IncidentDeleteModule.bindEvents();
	});
      
</script>

</div>{{/data}}
{{^data}}
      expected a model:   {data:{object}/[list of objects], result: true/false, message: "message text" }; 
{{/data}}      
    