
      Help for the Project entity
      
      <table id="Projectdatatable" class="table table-striped">
        <thead>
          
          <tr>
              <th>
                ProjectName
              </th>
              <th>
                String
              </th>
          </tr>
          
          <tr>
              <th>
                POP3Address
              </th>
              <th>
                String
              </th>
          </tr>
          
          <tr>
              <th>
                isActive
              </th>
              <th>
                Boolean
              </th>
          </tr>
          
        </thead>
      </table>
    