
      {{#data}}<div id='ProjectDetailsContainer'>
      <form id="DetailsProject" role="form">
      <div class="form-group">
      <label for='Projectid'>id</label>
      {{id}}<input id='Projectid' name='Projectid' type='hidden' value='{{id}}' />
      </div>
      
        <div class="form-group">
        <label for="ProjectName">ProjectName</label>
        <span id='ProjectName' class='form-control'> {{ProjectName}}<span>
        </div>
      
        <div class="form-group">
        <label for="POP3Address">POP3Address</label>
        <span id='POP3Address' class='form-control'> {{POP3Address}}<span>
        </div>
      
        <div class="form-group">
        <label for="isActive">isActive</label>
        <span id='isActive' class='form-control'> {{isActive}}<span>
        </div>
      
      </form>

      </div>{{/data}}
{{^data}}
      Details on Project
      expected a model:   {data:{object}/[list of objects], result: true/false, message: "message text" }; 
{{/data}}      
    