
      Help for the User entity
      
      <table id="Userdatatable" class="table table-striped">
        <thead>
          
          <tr>
              <th>
                UserName
              </th>
              <th>
                String
              </th>
          </tr>
          
          <tr>
              <th>
                FirstName
              </th>
              <th>
                String
              </th>
          </tr>
          
          <tr>
              <th>
                LastName
              </th>
              <th>
                String
              </th>
          </tr>
          
        </thead>
      </table>
    