
      {{#data}}<div id='UserDetailsContainer'>
      <form id="DetailsUser" role="form">
      <div class="form-group">
      <label for='Userid'>id</label>
      {{id}}<input id='Userid' name='Userid' type='hidden' value='{{id}}' />
      </div>
      
        <div class="form-group">
        <label for="UserName">UserName</label>
        <span id='UserName' class='form-control'> {{UserName}}<span>
        </div>
      
        <div class="form-group">
        <label for="FirstName">FirstName</label>
        <span id='FirstName' class='form-control'> {{FirstName}}<span>
        </div>
      
        <div class="form-group">
        <label for="LastName">LastName</label>
        <span id='LastName' class='form-control'> {{LastName}}<span>
        </div>
      
      </form>

      </div>{{/data}}
{{^data}}
      Details on User
      expected a model:   {data:{object}/[list of objects], result: true/false, message: "message text" }; 
{{/data}}      
    