
      Help for the Category entity
      
      <table id="Categorydatatable" class="table table-striped">
        <thead>
          
          <tr>
              <th>
                CategoryName
              </th>
              <th>
                String
              </th>
          </tr>
          
          <tr>
              <th>
                SortOrder
              </th>
              <th>
                Integer
              </th>
          </tr>
          
        </thead>
      </table>
    